@import "./mainStyles.styl"

.bioPortrait
    height: 50vh
    background-color: $darkBackground
    img
        height: 200px

.bio
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 50px

    margin: 100px 7%