@import "./mainStyles.styl"

.bookIntroduction
	padding: 7%

.projectCards
	display: grid
	grid-template-columns: 1fr
	gap: 50px

	padding: 0 7%
	margin: 50px 0 100px 0

	.--project
		display: flex
		flex-direction: column

		width: 100%
		height: auto

		background-color: $mainWhite
		box-shadow: 8px 8px 21px 8px rgba(0, 0, 0, 0.08);
		.--projectDescription
			height: auto
			padding: 10%
			h1
				margin-bottom: 30px
		img
			display: block
			width: 100%
			height: 350px
			object-fit: cover
			object-position: center

@media (min-width: 720px)
	.bookIntroduction
		padding: 100px 7% 50px 7%
	.projectCards
		margin: 0 0 100px 0


@media (min-width: 1000px)
	.projectCards
		grid-template-columns: 1fr 1fr
			
