@import "./mainStyles.styl"

.bioPortrait
    height: 40vh
    background-color: $darkBackground
    img
        height: 200px

.bio
    display: flex
    flex-direction: column
    gap: 50px

    margin: 100px 7%