@import "./mainStyles.styl"
@import "./buttonStyles.styl"

header
	height: 60px

	display: grid
	grid-template-columns: 3fr 2fr 1fr
	
	padding: 0 50px

	background-color: $mediumBackground

	img
		width: 200px
		height: auto

		margin: auto 0

	nav	
		ul
			display: flex
			justify-content: space-evenly

			height: 60px

			li
				align-self: center
				list-style: none
button
	margin-top: 0
	a
		color: $mainWhite

		font-size: 1.8rem