@import "./mainStyles.styl"
@import "./buttonStyles.styl"

header
	height: 60px

	display: grid
	grid-template-columns: 2fr 2fr 1fr
	
	padding: 0 50px

	background-color: $mediumBackground

	img
		width: 200px
		height: auto

		margin: auto 0

	nav	
		ul
			display: flex
			justify-content: space-evenly

			height: 60px

			li
				align-self: center
				list-style: none
	button
		a
			color: $mainWhite
			font-size: 1.8rem