@import "./mainStyles.styl"
@import "./buttonStyles.styl"

@media (min-width: 720px)

	.__sectionButton
		display: inline-block
	
	header
		display: grid

	.introduce
		margin: 0px 7% 30px 7%
		padding-top: 100px

		display: flex
		flex-direction: row-reverse

		.personalPhoto
			width: 55%

		.introduceText
			.--socialNetworksContainer
				justify-content: space-between

	.personalProjects
		display: grid
		grid-template-columns: 2fr 3fr

		.projectsIntroduce
			margin-right: 30px

		.projectsBanner
			display: flex
			background-color: $mainAlternativeColor	
			justify-content: center
			align-items: center
			
			h1
				text-align: center

@media (min-width: 1000px)

	header
		grid-template-columns: 3fr 2fr 1fr

	.personalProjects
		height: auto
		min-height: 520px
		.projectsIntroduce
			margin: auto 0
			padding-right: 30%
